<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/semantic.min.css') }}">
	<style type="text/css">
		{% block style %}

		{% endblock style %}
	</style>
</head>
<body>
	<div class="ui sidebar vertical menu">
		<a href="{{ url_for('main') }}" class="{% block home %} {% endblock home %}item">Home</a>
		<a href="{{ url_for('log') }}" class="{% block log %} {% endblock log %}item">Logic</a>
	</div>
	<div class="ui primary menu">
		<a class="toc item">
			<i class="sidebar icon"></i>
			Logic
		</a>
	</div>
	{% block content %}
	{% endblock content %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			    $('.toc').click(function() {
			        $('.ui.sidebar').sidebar('toggle')
			      });
		});
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='dist/semantic.min.js') }}"></script>
</body>
</html>